<?xml version="1.0"?>
<robot name="box"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find urdf_utils)/utils/inertia.xacro" />

  <!-- Define globally important parameters -->
  <xacro:arg name="name"           default="box" />
  <xacro:arg name="width"          default="1.0" />
  <xacro:arg name="height"         default="1.0" />
  <xacro:arg name="depth"          default="1.0" />
  <xacro:arg name="with_collision" default="true" />
  <xacro:arg name="with_inertia"   default="true" />
  <xacro:arg name="mass"           default="1.0" />

  <link name="$(arg name)">

   <visual>
     <origin xyz="0 0 0" rpy="0 0 0" />
     <geometry>
       <box size="$(arg width) $(arg height) $(arg depth)" />
     </geometry>
   </visual>

   <xacro:if value="$(arg with_collision)">
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <box size="$(arg width) $(arg height) $(arg depth)" />
       </geometry>
     </collision>
   </xacro:if>

   <xacro:if value="$(arg with_inertia)">
     <xacro:inertia-box mass="$(arg mass)"
                        width="$(arg width)"
                        height="$(arg height)"
                        depth="$(arg depth)" />
   </xacro:if>

 </link>

</robot>
