<?xml version="1.0"?>
<robot name="cylinder"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find urdf_utils)/utils/inertia.xacro" />

  <!-- Define globally important parameters -->
  <xacro:arg name="name"           default="cylinder" />
  <xacro:arg name="radius"         default="1.0" />
  <xacro:arg name="length"         default="1.0" />
  <xacro:arg name="with_collision" default="true" />
  <xacro:arg name="with_inertia"   default="true" />
  <xacro:arg name="mass"           default="1.0" />

  <link name="$(arg name)">

   <visual>
     <origin xyz="0 0 0" rpy="0 0 0" />
     <geometry>
       <cylinder radius="$(arg radius)" length="$(arg length)" />
     </geometry>
   </visual>

   <xacro:if value="$(arg with_collision)">
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <cylinder radius="$(arg radius)" length="$(arg length)" />
       </geometry>
     </collision>
   </xacro:if>

   <xacro:if value="$(arg with_inertia)">
     <xacro:inertia-cylinder mass="$(arg mass)" radius="$(arg radius)" h="$(arg length)" />
   </xacro:if>

 </link>

</robot>
