<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ========================================= -->
  <!-- ||         Inertia Utilities           || -->
  <!-- ========================================= -->

  <!-- According to https://en.wikipedia.org/wiki/List_of_moments_of_inertia#List_of_3D_inertia_tensors -->
  <xacro:macro name="inertia-cylinder" params="mass radius h">
    <inertial>
      <mass value="${mass}" />
      <inertia ixx="${1./12 * mass * (3 * radius**2 + h**2)}" ixy = "0" ixz = "0"
               iyy="${1./12 * mass * (3 * radius**2 + h**2)}" iyz = "0"
               izz="${1./2  * mass * radius**2}" />
    </inertial>
  </xacro:macro>

  <!-- According to https://en.wikipedia.org/wiki/List_of_moments_of_inertia#List_of_3D_inertia_tensors -->
  <xacro:macro name="inertia-sphere" params="mass radius">
    <inertial>
      <mass value="${mass}" />
      <inertia ixx="${2./5 * mass * radius**2}" ixy="0" ixz="0"
               iyy="${2./5 * mass * radius**2}" iyz="0"
               izz="${2./5 * mass * radius**2}" />
    </inertial>
  </xacro:macro>

  <!-- According to https://en.wikipedia.org/wiki/List_of_moments_of_inertia#List_of_3D_inertia_tensors -->
  <xacro:macro name="inertia-box" params="mass width height depth">
    <inertial>
      <mass value="${mass}" />
      <inertia ixx="${1./12 * mass * (height**2 + depth**2)}" ixy="0" ixz="0"
               iyy="${1./12 * mass * (width**2  + depth**2)}" iyz="0"
               izz="${1./12 * mass * (width**2  + height**2)}" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="inertia-default" params="mass">
    <inertial>
      <mass value="${mass}" />
      <inertia ixx="0.1" iyy="0.1" izz="0.1"
               ixy="0"   ixz="0"   iyz="0" />
    </inertial>
  </xacro:macro>

</robot>
