<launch>
    <arg name="robot_ip" default="192.168.3.108"/>
    <arg name="load_gripper" default="false"/>
    <arg name="robot_description" default="robot_description"/>
    <param name="$(arg robot_description)" command="xacro  '$(find panda_config)/config/panda_arm.urdf.xacro' hand:=$(arg load_gripper)"/>

    <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find panda_config)/config/panda.srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find panda_config)/config/joint_limits.yaml"/>
    <rosparam command="load" file="$(find panda_config)/config/cartesian_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find panda_config)/config/kinematics.yaml"/>

  </group>

    <!-- <include file="$(find franka_gripper)/launch/franka_gripper.launch" if="$(arg load_gripper)">
    <arg name="robot_ip" value="$(arg robot_ip)" />
  </include> -->

    <node name="franka_control" pkg="franka_control" type="franka_control_node" output="screen" required="true">
        <rosparam command="load" file="$(find franka_control)/config/franka_control_node.yaml" />
        <param name="robot_ip" value="$(arg robot_ip)" />
    </node>

    <rosparam command="load" file="$(find my_controller)/config/controllers.yaml" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="pose_controller"/>
</launch>